.container {
    display : flex;
    flex-direction : row;
    max-width : 80vw;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    padding : 1rem 1rem 1rem 2rem ;
}

.container li {
    list-style: none;
    color : white;
}

.container button {
    max-width: 200px;
    padding: 1rem;
}
