.container {
    display : flex;
    flex-direction : row;
    max-width : 80vw;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    padding : 1rem 10rem 1rem 2rem ;
}

.container li {
    list-style: none;
    color : white;
}

.container button {
    min-width: 200px;
    min-height: 40px;
    padding: 1rem 2rem;
}