.pwd_wrapper {
  position: relative;
}

.icons {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}

.icons i {
  margin: 0 0.4rem;
  cursor: pointer;
  color: gray;
}

.icons i:hover {
  color: white;
  transition: 300ms ease-in-out;
}
