.main {
  /* height: 100vh; */
  padding: 0;
  flex: 1;
}

.generator_container {
  max-width: 80vw;
  height: 50vh;
  margin: auto;
  padding: 3rem;
  display: grid;
}

.generator_container label {
  color: white;
}
