html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  width : 100vw;
  overflow: hidden;
  background-color: linear-gradient(-220deg, #151c35, #00412b);

}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
