.main {
  max-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  text-align: center;
  color: white;
  text-decoration: none;
  max-width: 600px;
  /* min-height: 600px; */
}

.card h1 {
  margin: 1rem 0 2rem 0;
  font-size: 2rem;
  font-family: Now;
  letter-spacing: 0.5rem;
}

.card p {
  margin: 1em 3em;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.2em;
  font-weight: 100;
  max-width: 425px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.button {
  min-width: 200px;
  min-height: 40px;
  padding: 0.5rem 0.2rem;
}

.icon {
  margin-left: 1rem;
  animation: translate 1000ms ease-in-out infinite;
}

@keyframes translate {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
