.glass {
  background: rgba(91, 116, 138, 0.3);
  border: solid 1px rgba(230, 230, 230, 0.3);
  backdrop-filter: blur(30px);
  border-radius: 30px;
}

.gradient-btn {
  background: linear-gradient(-90deg, #00a1fa, #00ea99);
  border-radius: 30px;
  color: white;
  font-family: Roboto;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
}
